@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
  font-family: 'Playfair Display', serif;
  background-color: gray;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  padding-top: 8px;
  padding-bottom: 16px;
  background-color: #9370DB;
}

.nav a {
  color: #fdfdfd;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.nav a:hover {
  text-decoration: underline;
}

.page {
  height: 100%;
  color: #fdfdfd;
  background-image: url('images/nightsky.png');
  background-size: 100vw;
  background-position: top;
}

#home {
  color: #fdfdfd;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 20px;
}

#home h1{
  font-size: 12em
  margin: 1em;
}

#home h3{
  font-size: 2em;
  margin: 0;
}

#home .hero-text-container {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.slideshow-image {
  width: 800px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 0 auto;
}

.slideshow-zoom {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
}

.slideshow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

#contact {
  padding-top: 128px;
  min-height: 100vh;
  text-align: center;
}

.john {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 0 auto;
}

#contact h2{
  text-align: center;
}

#contact p{
  text-align: center;
  font-size: 1em;
  margin: 1em;
}

#contact a{
  color: gray;
}

#about {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

#about a {
  color: gray;
}

.aboutme {
  padding: 10px;
}

#trumpets {
  padding-top: 36px;
  min-height: 100vh;
  text-align: center;
}

#trumpets a {
  color: gray;
}

.tpt-container {
  padding-top: 64px;
  margin: 8px;
  padding: 8px;
  column-count: 1;
}
.project {
  margin: 10px;
  background-size: cover;
  background-position: center;
}
